
html, body {
    height: 100%;
    margin:0;
    padding:0;
}

.form-control {
    width: 400px;
    height: 48px;
    margin: 20px 0px 5px 20px;
}

.filter-group {
    font-family: 'Open Sans', sans-serif;
    right: 10px !important;
    width: 65px;
}

.filter-dollar {
    overflow: auto;
    width: 65px;
    min-width: 10px;
    border-radius: 5px;
    margin-top: -10px;
}

.filter-rating {
    text-align: center;
    width: 65px;
    min-width: 10px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
}

.filter-title {
    border: 1px solid rgb(153, 153, 153);
    width: 65px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

.filter-highlight {
    background-color: #FF7400;
}

.filter-highlight:hover {
    background-color: #FF9B49;
}

#map {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#searchField {
    font-size: 16px;
    background-color: #2C1808;
    color: #FFFFFF;
}

#clear-search {
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px;
    position: absolute;
    text-align: left;
    top: 22px !important;
    left: 380px !important;
}

#side-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 5px 20px;
    width: 400px;
    max-height: 400px;
    overflow:hidden;
    overflow-y:auto;
    border-radius: 5px;
}

#list-detail {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: #2C1808;
    width: 400px;
    margin: 5px 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
}


.pac-item {
    font-family: 'Open Sans', sans-serif;
    color: #FFD7B6;
    background-color: #2C1808;
    height: 40px;
    vertical-align: baseline;
    font-size: 12px;
    padding: 5px 0px 0px 0px;
}

.pac-item:hover, .pac-item-selected {
    background-color: #743500;
}

.pac-item-query {
    color: #FFFFFF;
}

.pac-container {
    background-color: #743500;
}

.list-group-item {
    color: #FFD7B6;
    background-color: #2C1808;
}

.list-group-item:hover {
    background-color: #743500;
}

.list-group-item-textGroup {
    width: 260px;
    display: inline-block;
}

.list-group-item-textGroup > p{
    margin: 0px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.list-group-item-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.info-img {
    vertical-align: top;
    display: inline-block;
}

.webLink {
    font-size: 14px;
    color: #8DBFE6;
}

.price-style {
    color: #FF9A47;
}

.tipStyle {
    font-size: 12px;
}

#wikiStyle {
    padding: 15px;
    line-height: 20px;
    font: 13px;
}

@media (max-width: 500px) {

    #searchField {
        width: 70%;
    }

    #clear-search {
        left: auto !important;
        right: 20px;
    }
}
