
html, body {
    height: 100%;
    margin:0;
    padding:0;
}

/** @map */
#map {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/** @search bar */
.form-control {
    width: 400px;
    height: 48px;
    margin: 20px 0px 5px 20px;
}

#searchField {
    font-size: 16px;
    background-color: darkgray;
    color: #FFFFFF;
}

#clear-search {
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px;
    position: absolute;
    text-align: left;
    top: 22px !important;
    left: 380px !important;
}

.pac-item {
    font-family: 'Open Sans', sans-serif;
    color: #FFD7B6;
    background-color: darkgray;
    height: 40px;
    vertical-align: baseline;
    font-size: 12px;
    padding: 5px 0px 0px 0px;
}

.pac-item:hover, .pac-item-selected {
    background-color: dimgray;
}

.pac-item-query {
    color: #FFFFFF;
}

.pac-container {
    background-color: gray;
}



/** @filters */
.filter-group {
    font-family: 'Open Sans', sans-serif;
    right: 10px !important;
    width: 70px;
    transform: translateX(0px);
    transition: 0.6s;
}

.filter-group.slide {
    transform: translateX(100px);
    transition: 0.6s;
}

#filter-toggle {
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    right: 10px !important;
    width: 70px;
}

.filterBurger {
    display:block;
    margin-left: auto;
    font-size: 20px;
}

.filter-dollar {
    color: #FFFFFF;
    background-color: darkgray;
    overflow: auto;
    width: 70px;
    min-width: 10px;
    border-radius: 5px;
    margin-top: -10px;
}

.filter-rating {
    color: #FFFFFF;
    background-color: darkgray;
    text-align: center;
    width: 70px;
    min-width: 10px;
    border-radius: 5px;
    margin-top: 5px;
    padding: 3px;
}

.filter-title {
    background-color: darkgray !important;
    color: #FFFFFF;
    border: 1px solid rgb(153, 153, 153);
    width: 70px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

.filter-highlight {
    padding: 10px;
    background-color: #FF7400 !important;
}

.filter-highlight:hover {
    background-color: #FF9B49 !important;
}

/** @result list */
#side-list {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 5px 20px;
    width: 400px;
    max-height: 400px;
    overflow:hidden;
    overflow-y:auto;
    border-radius: 5px;
}

.price-style {
    color: #FF9A47;
}

.tipStyle {
    font-size: 12px;
}


/** @result detail */
#list-detail {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: darkgray;
    width: 400px;
    margin: 5px 20px;
    padding: 10px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 5px;
}

.list-group-item {
    color: #FFD7B6;
    background-color: darkgray;
}

.list-group-item:hover {
    background-color: dimgray;
}

.list-group-item-textGroup {
    width: 260px;
    display: inline-block;
}

.list-group-item-textGroup > p{
    margin: 0px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.list-group-item-title {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
}

.info-img {
    vertical-align: top;
    display: inline-block;
}

.detail-img-div {
    padding-top: 10px;
}

.detail-img {
    vertical-align: top;
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,1);
}

.webLink {
    font-size: 14px;
    color: #8DBFE6;
}

#wikiStyle {
    padding: 15px;
    line-height: 20px;
    font: 13px;
}

@media (max-width: 500px) {

    #searchField {
        width: 80%;
    }

    #clear-search {
        left: auto !important;
        right: 14%;
    }

    #side-list {
        width: 80%;
        max-height: 330px;
    }

    #list-detail {
        width: 90%;
        max-height: 400px;
        overflow:hidden;
        overflow-y: auto;

    }
}
